<?xml version="1.0" encoding="utf-8"?>
<LayoutRoot>
  <RootPanel Orientation="Horizontal">
    <LayoutAnchorablePane Id="45fd8b3f-56b5-4923-9400-31396f0ee2c4" DockWidth="1.4291702604913956*" DockHeight="0.5416227982512862*" FloatingWidth="688" FloatingHeight="552" FloatingLeft="96" FloatingTop="475">
      <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Image" IsSelected="True" ContentId="ImageControlVM" FloatingLeft="96" FloatingTop="475" FloatingWidth="688" FloatingHeight="552" CanClose="True" LastActivationTimeStamp="07/08/2025 01:44:38" />
      <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Star Detection Results" ContentId="StarDetectionResultsVM" FloatingLeft="96" FloatingTop="475" FloatingWidth="688" FloatingHeight="552" CanClose="True" LastActivationTimeStamp="07/08/2025 01:42:25" />
      <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Autofocus" ContentId="AutoFocusVM" FloatingLeft="96" FloatingTop="475" FloatingWidth="688" FloatingHeight="552" CanClose="True" LastActivationTimeStamp="07/07/2025 23:35:16" />
      <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Plate Solving" ContentId="PlatesolveVM" FloatingLeft="96" FloatingTop="475" FloatingWidth="688" FloatingHeight="552" CanClose="True" LastActivationTimeStamp="07/07/2025 23:00:59" />
      <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Three Point Polar Alignment" ContentId="DockablePolarAlignmentVM" FloatingLeft="96" FloatingTop="475" FloatingWidth="688" FloatingHeight="552" CanClose="True" LastActivationTimeStamp="07/04/2025 22:32:54" />
      <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Aberration Inspector" ContentId="InspectorVM" FloatingLeft="96" FloatingTop="475" FloatingWidth="688" FloatingHeight="552" CanClose="True" LastActivationTimeStamp="07/07/2025 23:35:11" />
    </LayoutAnchorablePane>
    <LayoutPanel Orientation="Horizontal" DockWidth="0.5708297395086052*">
      <LayoutPanel Orientation="Vertical" DockWidth="0.1922182267454004*">
        <LayoutPanel Orientation="Horizontal" DockHeight="1.7396012549337112*">
          <LayoutAnchorablePaneGroup Orientation="Vertical" DockWidth="2.264980461193283*" DockHeight="1.137835616651*">
            <LayoutAnchorablePane Id="588d94de-899f-48c2-bded-d54b306c6a87" DockWidth="0.42363008017497183*" DockHeight="0.6692689061521507*" FloatingWidth="1370" FloatingHeight="689" FloatingLeft="88" FloatingTop="464" />
            <LayoutAnchorablePaneGroup Orientation="Vertical" DockHeight="1.4685667104988493*" FloatingWidth="1370" FloatingHeight="689" FloatingLeft="153" FloatingTop="495">
              <LayoutAnchorablePane Id="9d177fda-1898-4ced-a797-518218438382" DockWidth="0.42363008017497183*" DockHeight="1.137835616651*" FloatingWidth="1370" FloatingHeight="689" FloatingLeft="153" FloatingTop="495" />
            </LayoutAnchorablePaneGroup>
          </LayoutAnchorablePaneGroup>
          <LayoutPanel Orientation="Vertical" DockWidth="0.05924366703160072*">
            <LayoutAnchorablePaneGroup Orientation="Horizontal" DockWidth="2.0812486573585467*" DockHeight="1.8480775056117558*" FloatingWidth="692" FloatingHeight="819" FloatingLeft="797" FloatingTop="78">
              <LayoutAnchorablePane Id="086d32e4-6a35-49a4-b819-ba695327d0d0" DockWidth="3.0048516689518108*" DockHeight="1.54677754677755*" FloatingWidth="692" FloatingHeight="819" FloatingLeft="797" FloatingTop="78" />
            </LayoutAnchorablePaneGroup>
            <LayoutPanel Orientation="Horizontal" DockHeight="0.6987000411657942*">
              <LayoutPanel Orientation="Vertical" DockWidth="3.09009690856194*">
                <LayoutPanel Orientation="Horizontal" DockHeight="1.51559251559252*">
                  <LayoutAnchorablePaneGroup Orientation="Vertical" DockWidth="0.47013434562044*">
                    <LayoutAnchorablePane Id="36a76c25-e6a1-41b0-bad8-b8729d9d284f" DockHeight="0.486583748551683*" FloatingWidth="1370" FloatingHeight="689" FloatingLeft="-451" FloatingTop="229" />
                    <LayoutAnchorablePaneGroup Orientation="Vertical" DockHeight="1.49189371328354*" FloatingWidth="1370" FloatingHeight="689" FloatingLeft="-158" FloatingTop="555">
                      <LayoutAnchorablePane Id="62e81261-8f55-45aa-80b0-79abe5c0f0da" DockHeight="0.862164383349008*" FloatingWidth="1370" FloatingHeight="689" FloatingLeft="-158" FloatingTop="555" />
                    </LayoutAnchorablePaneGroup>
                  </LayoutAnchorablePaneGroup>
                  <LayoutAnchorablePaneGroup Orientation="Horizontal" DockWidth="1.9562944820790868*">
                    <LayoutAnchorablePane Id="03f51ea3-4a7d-4433-837a-967e9a0d8c1d" Name="ToolsPane" DockWidth="2.0812486573585467*" DockHeight="1.54677754677755*" />
                    <LayoutAnchorablePaneGroup Orientation="Vertical" DockWidth="1.1252993956072344*" FloatingWidth="1370" FloatingHeight="689" FloatingLeft="209" FloatingTop="418">
                      <LayoutAnchorablePane Id="a10d808a-b19e-4111-a81d-a9e53db41fb3" DockHeight="0.94818338224876*" FloatingWidth="1370" FloatingHeight="689" FloatingLeft="209" FloatingTop="418" />
                    </LayoutAnchorablePaneGroup>
                  </LayoutAnchorablePaneGroup>
                </LayoutPanel>
              </LayoutPanel>
            </LayoutPanel>
          </LayoutPanel>
          <LayoutAnchorablePaneGroup Orientation="Horizontal" DockWidth="1.2057324193730365*" DockHeight="1.5824449923981967*" FloatingWidth="756" FloatingHeight="896" FloatingLeft="756">
            <LayoutAnchorablePane Id="77a3f877-0835-403d-8158-28a3dd43073b" DockHeight="2.0217702731347647*" FloatingWidth="1370" FloatingHeight="689" FloatingLeft="1082" FloatingTop="495" />
            <LayoutAnchorablePaneGroup Orientation="Horizontal" DockWidth="1.5299565475979198*" DockHeight="1.518133456890364*" FloatingWidth="756" FloatingHeight="896" FloatingLeft="756">
              <LayoutAnchorablePane Id="3f3289b5-eb90-4946-94f2-2b4c9c02fb31" DockHeight="1.17629794555207*" FloatingWidth="1370" FloatingHeight="689" FloatingLeft="1087" FloatingTop="472" />
            </LayoutAnchorablePaneGroup>
          </LayoutAnchorablePaneGroup>
        </LayoutPanel>
      </LayoutPanel>
      <LayoutAnchorablePaneGroup Orientation="Vertical" DockWidth="2.851969100396925*" DockHeight="1.518133456890364*">
        <LayoutAnchorablePane Id="6d991b0b-80f8-4d12-95ce-08fee30ad16a" DockWidth="1.5299565475979198*" DockHeight="1.2890376916041824*" FloatingWidth="756" FloatingHeight="896" FloatingLeft="756">
          <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Imaging" IsSelected="True" ContentId="ImagingVM" FloatingLeft="756" FloatingWidth="756" FloatingHeight="896" CanClose="True" LastActivationTimeStamp="07/07/2025 23:40:49" />
          <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Inject Autofocus" ContentId="InjectAutofocusDockable" FloatingLeft="1043" FloatingTop="88" FloatingWidth="756" FloatingHeight="896" CanClose="True" LastActivationTimeStamp="06/07/2025 16:49:01" PreviousContainerId="a3e70808-378c-4607-9847-054d911025db" PreviousContainerIndex="3" />
        </LayoutAnchorablePane>
        <LayoutAnchorablePaneGroup Orientation="Horizontal" DockWidth="1.5299565475979198*" DockHeight="1.7472292221765462*" FloatingWidth="756" FloatingHeight="896" FloatingLeft="1314" FloatingTop="514">
          <LayoutAnchorablePane Id="a3e70808-378c-4607-9847-054d911025db" DockWidth="1.5299565475979198*" DockHeight="1.518133456890364*" FloatingWidth="756" FloatingHeight="896" FloatingLeft="1314" FloatingTop="514">
            <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Focuser" ContentId="FocuserVM" FloatingLeft="1081" FloatingTop="406" FloatingWidth="756" FloatingHeight="896" CanClose="True" LastActivationTimeStamp="07/07/2025 21:52:55" PreviousContainerId="6d991b0b-80f8-4d12-95ce-08fee30ad16a" PreviousContainerIndex="2" />
            <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="RTSP Player" IsSelected="True" ContentId="RTSPVM" FloatingLeft="1346" FloatingTop="851" FloatingWidth="495" FloatingHeight="784" CanClose="True" LastActivationTimeStamp="07/07/2025 23:21:55" />
          </LayoutAnchorablePane>
        </LayoutAnchorablePaneGroup>
      </LayoutAnchorablePaneGroup>
    </LayoutPanel>
  </RootPanel>
  <TopSide />
  <RightSide />
  <LeftSide />
  <BottomSide />
  <FloatingWindows>
    <LayoutAnchorableFloatingWindow>
      <LayoutAnchorablePaneGroup Orientation="Horizontal" FloatingWidth="527" FloatingHeight="230" FloatingLeft="592" FloatingTop="299">
        <LayoutAnchorablePane Id="c35ff9bf-23c8-4f4f-9b19-c8f57a8e0448" DockWidth="2.0812486573585467*" DockHeight="1.54677754677755*" FloatingWidth="527" FloatingHeight="230" FloatingLeft="592" FloatingTop="299" />
      </LayoutAnchorablePaneGroup>
    </LayoutAnchorableFloatingWindow>
  </FloatingWindows>
  <Hidden>
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Safety Monitor" IsSelected="True" ContentId="SafetyMonitorVM" CanClose="True" LastActivationTimeStamp="07/08/2025 14:51:19" PreviousContainerId="03f51ea3-4a7d-4433-837a-967e9a0d8c1d" PreviousContainerIndex="1" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Flat Panel" IsSelected="True" ContentId="FlatDeviceVM" FloatingLeft="-451" FloatingTop="229" FloatingWidth="1370" FloatingHeight="689" CanClose="True" LastActivationTimeStamp="07/08/2025 14:51:19" PreviousContainerId="36a76c25-e6a1-41b0-bad8-b8729d9d284f" PreviousContainerIndex="1" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Dome" IsSelected="True" ContentId="DomeVM" FloatingLeft="-154" FloatingTop="555" FloatingWidth="1370" FloatingHeight="689" CanClose="True" LastActivationTimeStamp="07/08/2025 14:51:19" PreviousContainerId="62e81261-8f55-45aa-80b0-79abe5c0f0da" PreviousContainerIndex="1" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="HFR history" IsSelected="True" ContentId="ImageHistoryVM" FloatingLeft="209" FloatingTop="418" FloatingWidth="1370" FloatingHeight="689" CanClose="True" LastActivationTimeStamp="07/08/2025 14:51:19" PreviousContainerId="a10d808a-b19e-4111-a81d-a9e53db41fb3" PreviousContainerIndex="0" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Star Annotation Options" IsSelected="True" ContentId="StarAnnotatorOptionsVM" CanClose="True" LastActivationTimeStamp="07/08/2025 14:51:19" PreviousContainerId="03f51ea3-4a7d-4433-837a-967e9a0d8c1d" PreviousContainerIndex="0" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Image History" IsSelected="True" ContentId="ThumbnailVM" FloatingLeft="-31" FloatingTop="868" FloatingWidth="1370" FloatingHeight="452" CanClose="True" LastActivationTimeStamp="07/08/2025 14:51:19" PreviousContainerId="086d32e4-6a35-49a4-b819-ba695327d0d0" PreviousContainerIndex="5" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Weather" IsSelected="True" ContentId="WeatherDataVM" FloatingLeft="153" FloatingTop="495" FloatingWidth="1370" FloatingHeight="689" CanClose="True" LastActivationTimeStamp="07/08/2025 14:51:19" PreviousContainerId="9d177fda-1898-4ced-a797-518218438382" PreviousContainerIndex="0" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Scope Control" IsSelected="True" ContentId="ScopeControlDock" FloatingLeft="592" FloatingTop="299" FloatingWidth="527" FloatingHeight="230" CanClose="True" LastActivationTimeStamp="07/08/2025 14:51:19" PreviousContainerId="c35ff9bf-23c8-4f4f-9b19-c8f57a8e0448" PreviousContainerIndex="0" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Manual Focus Targets" IsSelected="True" ContentId="FocusTargetsVM" FloatingLeft="756" FloatingTop="448" FloatingWidth="756" FloatingHeight="448" CanClose="True" LastActivationTimeStamp="07/08/2025 14:51:19" PreviousContainerId="77a3f877-0835-403d-8158-28a3dd43073b" PreviousContainerIndex="5" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Mount" IsSelected="True" ContentId="TelescopeVM" FloatingLeft="1419" FloatingTop="553" FloatingWidth="1370" FloatingHeight="689" CanClose="True" LastActivationTimeStamp="07/08/2025 14:51:19" PreviousContainerId="77a3f877-0835-403d-8158-28a3dd43073b" PreviousContainerIndex="3" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Filter Offset Calculator" IsSelected="True" ContentId="FilterOffsetCalculatorImagingTool" CanClose="True" LastActivationTimeStamp="07/08/2025 14:51:19" PreviousContainerId="03f51ea3-4a7d-4433-837a-967e9a0d8c1d" PreviousContainerIndex="0" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Altitude Chart" IsSelected="True" ContentId="AltitudeDock" CanClose="True" LastActivationTimeStamp="07/08/2025 14:51:19" PreviousContainerId="03f51ea3-4a7d-4433-837a-967e9a0d8c1d" PreviousContainerIndex="0" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Azimuth Chart" IsSelected="True" ContentId="AzimuthDock" CanClose="True" LastActivationTimeStamp="07/08/2025 14:51:19" PreviousContainerId="03f51ea3-4a7d-4433-837a-967e9a0d8c1d" PreviousContainerIndex="0" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Switch" IsSelected="True" ContentId="SwitchVM" FloatingLeft="88" FloatingTop="464" FloatingWidth="1370" FloatingHeight="689" CanClose="True" LastActivationTimeStamp="07/08/2025 14:51:19" PreviousContainerId="588d94de-899f-48c2-bded-d54b306c6a87" PreviousContainerIndex="0" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Sequence" IsSelected="True" ContentId="SequenceVM" FloatingLeft="711" FloatingTop="348" FloatingWidth="1370" FloatingHeight="689" CanClose="True" LastActivationTimeStamp="07/08/2025 14:51:19" PreviousContainerId="086d32e4-6a35-49a4-b819-ba695327d0d0" PreviousContainerIndex="1" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Powerups Panel" IsSelected="True" ContentId="WhenPluginDockable" CanClose="True" LastActivationTimeStamp="07/08/2025 14:51:19" PreviousContainerId="03f51ea3-4a7d-4433-837a-967e9a0d8c1d" PreviousContainerIndex="0" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Optimal Exposure Calculator" IsSelected="True" ContentId="ExposureCalculatorDock" FloatingLeft="959" FloatingTop="852" FloatingWidth="630" FloatingHeight="316" CanClose="True" LastActivationTimeStamp="07/08/2025 14:51:19" PreviousContainerId="086d32e4-6a35-49a4-b819-ba695327d0d0" PreviousContainerIndex="3" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Device Actions and Commands" IsSelected="True" ContentId="DAaCDock" CanClose="True" LastActivationTimeStamp="07/08/2025 14:51:19" PreviousContainerId="03f51ea3-4a7d-4433-837a-967e9a0d8c1d" PreviousContainerIndex="0" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Star Detection Options" IsSelected="True" ContentId="StarDetectionOptionsVM" CanClose="True" LastActivationTimeStamp="07/08/2025 14:51:19" PreviousContainerId="03f51ea3-4a7d-4433-837a-967e9a0d8c1d" PreviousContainerIndex="0" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Smart Filters" IsSelected="True" ContentId="SmartFiltersDockable" CanClose="True" LastActivationTimeStamp="07/08/2025 14:51:19" PreviousContainerId="03f51ea3-4a7d-4433-837a-967e9a0d8c1d" PreviousContainerIndex="3" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Target Scheduler" IsSelected="True" ContentId="ImagingDockableVM" CanClose="True" LastActivationTimeStamp="07/08/2025 14:51:19" PreviousContainerId="03f51ea3-4a7d-4433-837a-967e9a0d8c1d" PreviousContainerIndex="0" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Altitude Charts for Astro-COLIBRI Events" IsSelected="True" ContentId="AstrocolibriDockable" CanClose="True" LastActivationTimeStamp="07/08/2025 14:51:19" PreviousContainerId="03f51ea3-4a7d-4433-837a-967e9a0d8c1d" PreviousContainerIndex="0" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="PixInsight Live Stacking" IsSelected="True" ContentId="LiveStackVM" CanClose="True" LastActivationTimeStamp="07/08/2025 14:51:19" PreviousContainerId="03f51ea3-4a7d-4433-837a-967e9a0d8c1d" PreviousContainerIndex="0" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Statistics" IsSelected="True" ContentId="ImageStatisticsVM" FloatingLeft="1087" FloatingTop="472" FloatingWidth="1370" FloatingHeight="689" CanClose="True" LastActivationTimeStamp="07/08/2025 14:51:19" PreviousContainerId="3f3289b5-eb90-4946-94f2-2b4c9c02fb31" PreviousContainerIndex="0" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Guider" IsSelected="True" ContentId="GuiderVM" FloatingLeft="96" FloatingTop="475" FloatingWidth="688" FloatingHeight="552" CanClose="True" LastActivationTimeStamp="07/08/2025 14:51:19" PreviousContainerId="45fd8b3f-56b5-4923-9400-31396f0ee2c4" PreviousContainerIndex="5" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Rotator" IsSelected="True" ContentId="RotatorVM" FloatingLeft="1285" FloatingTop="491" FloatingWidth="756" FloatingHeight="896" CanClose="True" LastActivationTimeStamp="07/08/2025 14:51:19" PreviousContainerId="a3e70808-378c-4607-9847-054d911025db" PreviousContainerIndex="2" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Filter Wheel" IsSelected="True" ContentId="FilterWheelVM" FloatingLeft="1301" FloatingTop="837" FloatingWidth="756" FloatingHeight="896" CanClose="True" LastActivationTimeStamp="07/08/2025 14:51:19" PreviousContainerId="a3e70808-378c-4607-9847-054d911025db" PreviousContainerIndex="3" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Camera" IsSelected="True" ContentId="CameraVM" FloatingLeft="1202" FloatingTop="493" FloatingWidth="756" FloatingHeight="896" CanClose="True" LastActivationTimeStamp="07/08/2025 14:51:19" PreviousContainerId="a3e70808-378c-4607-9847-054d911025db" PreviousContainerIndex="0" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Telescope Model" IsSelected="True" ContentId="TelescopeModelVM" FloatingLeft="756" FloatingWidth="756" FloatingHeight="896" CanClose="True" LastActivationTimeStamp="07/08/2025 14:51:19" PreviousContainerId="6d991b0b-80f8-4d12-95ce-08fee30ad16a" PreviousContainerIndex="2" />
  </Hidden>
</LayoutRoot>