<?xml version="1.0" encoding="utf-8"?>
<LayoutRoot>
  <RootPanel Orientation="Vertical">
    <LayoutPanel Orientation="Horizontal" DockHeight="1.7396012549337112*">
      <LayoutAnchorablePaneGroup Orientation="Vertical" DockWidth="0.5398935403971878*" DockHeight="1.137835616651*">
        <LayoutAnchorablePane Id="588d94de-899f-48c2-bded-d54b306c6a87" DockWidth="0.42363008017497183*" DockHeight="0.6692689061521507*" FloatingWidth="1370" FloatingHeight="689" FloatingLeft="88" FloatingTop="464" />
        <LayoutAnchorablePaneGroup Orientation="Vertical" DockHeight="1.4685667104988493*" FloatingWidth="1370" FloatingHeight="689" FloatingLeft="153" FloatingTop="495">
          <LayoutAnchorablePane Id="9d177fda-1898-4ced-a797-518218438382" DockWidth="0.42363008017497183*" DockHeight="1.137835616651*" FloatingWidth="1370" FloatingHeight="689" FloatingLeft="153" FloatingTop="495" />
          <LayoutAnchorablePane Id="0d08512b-6989-41d8-9d08-f16bd90d0323" DockHeight="1.17629794555207*" FloatingWidth="1370" FloatingHeight="689" FloatingLeft="165" FloatingTop="633" />
        </LayoutAnchorablePaneGroup>
      </LayoutAnchorablePaneGroup>
      <LayoutPanel Orientation="Vertical" DockWidth="1.9845689030239464*">
        <LayoutAnchorablePaneGroup Orientation="Horizontal" DockWidth="2.0812486573585467*" DockHeight="1.8480775056117558*" FloatingWidth="692" FloatingHeight="819" FloatingLeft="797" FloatingTop="78">
          <LayoutAnchorablePane Id="086d32e4-6a35-49a4-b819-ba695327d0d0" DockWidth="3.0048516689518108*" DockHeight="1.54677754677755*" FloatingWidth="692" FloatingHeight="819" FloatingLeft="797" FloatingTop="78">
            <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Image" IsSelected="True" ContentId="ImageControlVM" FloatingLeft="797" FloatingTop="78" FloatingWidth="692" FloatingHeight="819" CanClose="True" LastActivationTimeStamp="05/21/2025 21:26:52" />
            <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Star Detection Results" ContentId="StarDetectionResultsVM" FloatingLeft="889" FloatingTop="632" FloatingWidth="987" FloatingHeight="955" CanClose="True" LastActivationTimeStamp="04/28/2025 22:01:55" />
            <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Autofocus" ContentId="AutoFocusVM" FloatingLeft="797" FloatingTop="78" FloatingWidth="692" FloatingHeight="819" CanClose="True" LastActivationTimeStamp="05/21/2025 21:10:16" />
            <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Three Point Polar Alignment" ContentId="DockablePolarAlignmentVM" FloatingLeft="797" FloatingTop="78" FloatingWidth="692" FloatingHeight="819" CanClose="True" LastActivationTimeStamp="04/28/2025 21:10:00" />
            <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Plate Solving" ContentId="PlatesolveVM" FloatingLeft="797" FloatingTop="78" FloatingWidth="692" FloatingHeight="819" CanClose="True" LastActivationTimeStamp="04/29/2025 21:21:39" />
            <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Aberration Inspector" ContentId="InspectorVM" FloatingLeft="797" FloatingTop="78" FloatingWidth="692" FloatingHeight="819" CanClose="True" LastActivationTimeStamp="05/21/2025 21:23:23" />
          </LayoutAnchorablePane>
        </LayoutAnchorablePaneGroup>
        <LayoutPanel Orientation="Horizontal" DockHeight="0.6987000411657942*">
          <LayoutPanel Orientation="Vertical" DockWidth="3.09009690856194*">
            <LayoutPanel Orientation="Horizontal" DockHeight="1.51559251559252*">
              <LayoutAnchorablePaneGroup Orientation="Vertical" DockWidth="0.47013434562044*">
                <LayoutAnchorablePane Id="36a76c25-e6a1-41b0-bad8-b8729d9d284f" DockHeight="0.486583748551683*" FloatingWidth="1370" FloatingHeight="689" FloatingLeft="-451" FloatingTop="229" />
                <LayoutAnchorablePaneGroup Orientation="Vertical" DockHeight="1.49189371328354*" FloatingWidth="1370" FloatingHeight="689" FloatingLeft="-158" FloatingTop="555">
                  <LayoutAnchorablePane Id="62e81261-8f55-45aa-80b0-79abe5c0f0da" DockHeight="0.862164383349008*" FloatingWidth="1370" FloatingHeight="689" FloatingLeft="-158" FloatingTop="555" />
                </LayoutAnchorablePaneGroup>
              </LayoutAnchorablePaneGroup>
              <LayoutAnchorablePaneGroup Orientation="Horizontal" DockWidth="1.9562944820790868*">
                <LayoutAnchorablePane Id="03f51ea3-4a7d-4433-837a-967e9a0d8c1d" Name="ToolsPane" DockWidth="2.0812486573585467*" DockHeight="1.54677754677755*">
                  <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Altitude Charts for Astro-COLIBRI Events" ContentId="AstrocolibriDockable" CanClose="True" />
                  <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="PixInsight Live Stacking" ContentId="LiveStackVM" CanClose="True" />
                  <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Smart Filters" ContentId="SmartFiltersDockable" CanClose="True" />
                  <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Target Scheduler" IsSelected="True" ContentId="ImagingDockableVM" CanClose="True" />
                </LayoutAnchorablePane>
                <LayoutAnchorablePaneGroup Orientation="Vertical" DockWidth="1.1252993956072344*" FloatingWidth="1370" FloatingHeight="689" FloatingLeft="209" FloatingTop="418">
                  <LayoutAnchorablePane Id="a10d808a-b19e-4111-a81d-a9e53db41fb3" DockHeight="0.94818338224876*" FloatingWidth="1370" FloatingHeight="689" FloatingLeft="209" FloatingTop="418" />
                </LayoutAnchorablePaneGroup>
              </LayoutAnchorablePaneGroup>
            </LayoutPanel>
          </LayoutPanel>
        </LayoutPanel>
      </LayoutPanel>
      <LayoutAnchorablePaneGroup Orientation="Vertical" DockWidth="1.0054941041767858*" DockHeight="1.5824449923981967*" FloatingWidth="756" FloatingHeight="896" FloatingLeft="756">
        <LayoutAnchorablePane Id="0b288258-5e7b-407e-9879-0a2b88a7b371" DockWidth="1.5299565475979198*" DockHeight="1.518133456890364*" FloatingWidth="756" FloatingHeight="896" FloatingLeft="756">
          <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Camera" ContentId="CameraVM" FloatingLeft="1288" FloatingTop="304" FloatingWidth="1370" FloatingHeight="689" CanClose="True" LastActivationTimeStamp="05/21/2025 21:02:57" PreviousContainerId="77a3f877-0835-403d-8158-28a3dd43073b" PreviousContainerIndex="0" />
          <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Filter Wheel" ContentId="FilterWheelVM" FloatingLeft="1405" FloatingTop="577" FloatingWidth="1370" FloatingHeight="689" CanClose="True" LastActivationTimeStamp="04/25/2025 08:53:12" PreviousContainerId="77a3f877-0835-403d-8158-28a3dd43073b" PreviousContainerIndex="5" />
          <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Rotator" ContentId="RotatorVM" FloatingLeft="1307" FloatingTop="421" FloatingWidth="1370" FloatingHeight="689" CanClose="True" LastActivationTimeStamp="03/14/2025 16:26:32" PreviousContainerId="77a3f877-0835-403d-8158-28a3dd43073b" PreviousContainerIndex="0" />
          <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Focuser" IsSelected="True" ContentId="FocuserVM" FloatingLeft="1345" FloatingTop="420" FloatingWidth="1370" FloatingHeight="689" CanClose="True" LastActivationTimeStamp="05/21/2025 21:09:23" PreviousContainerId="77a3f877-0835-403d-8158-28a3dd43073b" PreviousContainerIndex="0" />
        </LayoutAnchorablePane>
        <LayoutAnchorablePane Id="77a3f877-0835-403d-8158-28a3dd43073b" DockHeight="2.0217702731347647*" FloatingWidth="1370" FloatingHeight="689" FloatingLeft="1082" FloatingTop="495">
          <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Imaging" IsSelected="True" ContentId="ImagingVM" FloatingLeft="1200" FloatingTop="443" FloatingWidth="1370" FloatingHeight="689" CanClose="True" LastActivationTimeStamp="05/21/2025 21:09:24" PreviousContainerId="0b288258-5e7b-407e-9879-0a2b88a7b371" PreviousContainerIndex="0" />
          <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Inject Autofocus" ContentId="InjectAutofocusDockable" FloatingLeft="1082" FloatingTop="495" FloatingWidth="1370" FloatingHeight="689" CanClose="True" LastActivationTimeStamp="04/11/2025 22:34:25" />
          <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Telescope Model" ContentId="TelescopeModelVM" FloatingLeft="1342" FloatingTop="650" FloatingWidth="538" FloatingHeight="230" CanClose="True" LastActivationTimeStamp="04/18/2025 17:43:36" />
        </LayoutAnchorablePane>
      </LayoutAnchorablePaneGroup>
    </LayoutPanel>
    <LayoutAnchorablePaneGroup Orientation="Horizontal" DockHeight="0.43669669061835864*" FloatingWidth="688" FloatingHeight="552" FloatingLeft="242" FloatingTop="835">
      <LayoutAnchorablePane Id="f7f4ed9b-eec9-4cbf-a096-88f9b1b8d222" DockHeight="1.17629794555207*" FloatingWidth="688" FloatingHeight="552" FloatingLeft="242" FloatingTop="835" />
    </LayoutAnchorablePaneGroup>
  </RootPanel>
  <TopSide />
  <RightSide />
  <LeftSide />
  <BottomSide />
  <FloatingWindows>
    <LayoutAnchorableFloatingWindow>
      <LayoutAnchorablePaneGroup Orientation="Horizontal" FloatingWidth="527" FloatingHeight="230" FloatingLeft="592" FloatingTop="299">
        <LayoutAnchorablePane Id="c35ff9bf-23c8-4f4f-9b19-c8f57a8e0448" DockWidth="2.0812486573585467*" DockHeight="1.54677754677755*" FloatingWidth="527" FloatingHeight="230" FloatingLeft="592" FloatingTop="299" />
      </LayoutAnchorablePaneGroup>
    </LayoutAnchorableFloatingWindow>
  </FloatingWindows>
  <Hidden>
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Safety Monitor" IsSelected="True" ContentId="SafetyMonitorVM" CanClose="True" LastActivationTimeStamp="05/21/2025 20:58:43" PreviousContainerId="03f51ea3-4a7d-4433-837a-967e9a0d8c1d" PreviousContainerIndex="1" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Flat Panel" IsSelected="True" ContentId="FlatDeviceVM" FloatingLeft="-451" FloatingTop="229" FloatingWidth="1370" FloatingHeight="689" CanClose="True" LastActivationTimeStamp="05/21/2025 20:58:43" PreviousContainerId="36a76c25-e6a1-41b0-bad8-b8729d9d284f" PreviousContainerIndex="1" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Dome" IsSelected="True" ContentId="DomeVM" FloatingLeft="-154" FloatingTop="555" FloatingWidth="1370" FloatingHeight="689" CanClose="True" LastActivationTimeStamp="05/21/2025 20:58:43" PreviousContainerId="62e81261-8f55-45aa-80b0-79abe5c0f0da" PreviousContainerIndex="1" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="HFR history" IsSelected="True" ContentId="ImageHistoryVM" FloatingLeft="209" FloatingTop="418" FloatingWidth="1370" FloatingHeight="689" CanClose="True" LastActivationTimeStamp="05/21/2025 20:58:43" PreviousContainerId="a10d808a-b19e-4111-a81d-a9e53db41fb3" PreviousContainerIndex="0" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Star Annotation Options" IsSelected="True" ContentId="StarAnnotatorOptionsVM" CanClose="True" LastActivationTimeStamp="05/21/2025 20:58:43" PreviousContainerId="03f51ea3-4a7d-4433-837a-967e9a0d8c1d" PreviousContainerIndex="0" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Image History" IsSelected="True" ContentId="ThumbnailVM" FloatingLeft="-31" FloatingTop="868" FloatingWidth="1370" FloatingHeight="452" CanClose="True" LastActivationTimeStamp="05/21/2025 20:58:43" PreviousContainerId="086d32e4-6a35-49a4-b819-ba695327d0d0" PreviousContainerIndex="5" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Weather" IsSelected="True" ContentId="WeatherDataVM" FloatingLeft="153" FloatingTop="495" FloatingWidth="1370" FloatingHeight="689" CanClose="True" LastActivationTimeStamp="05/21/2025 20:58:43" PreviousContainerId="9d177fda-1898-4ced-a797-518218438382" PreviousContainerIndex="0" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Scope Control" IsSelected="True" ContentId="ScopeControlDock" FloatingLeft="592" FloatingTop="299" FloatingWidth="527" FloatingHeight="230" CanClose="True" LastActivationTimeStamp="05/21/2025 20:58:43" PreviousContainerId="c35ff9bf-23c8-4f4f-9b19-c8f57a8e0448" PreviousContainerIndex="0" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Manual Focus Targets" IsSelected="True" ContentId="FocusTargetsVM" FloatingLeft="756" FloatingTop="448" FloatingWidth="756" FloatingHeight="448" CanClose="True" LastActivationTimeStamp="05/21/2025 20:58:43" PreviousContainerId="77a3f877-0835-403d-8158-28a3dd43073b" PreviousContainerIndex="5" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Mount" IsSelected="True" ContentId="TelescopeVM" FloatingLeft="1419" FloatingTop="553" FloatingWidth="1370" FloatingHeight="689" CanClose="True" LastActivationTimeStamp="05/21/2025 20:58:43" PreviousContainerId="77a3f877-0835-403d-8158-28a3dd43073b" PreviousContainerIndex="3" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Filter Offset Calculator" IsSelected="True" ContentId="FilterOffsetCalculatorImagingTool" CanClose="True" LastActivationTimeStamp="05/21/2025 20:58:43" PreviousContainerId="03f51ea3-4a7d-4433-837a-967e9a0d8c1d" PreviousContainerIndex="0" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Altitude Chart" IsSelected="True" ContentId="AltitudeDock" CanClose="True" LastActivationTimeStamp="05/21/2025 20:58:43" PreviousContainerId="03f51ea3-4a7d-4433-837a-967e9a0d8c1d" PreviousContainerIndex="0" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Azimuth Chart" IsSelected="True" ContentId="AzimuthDock" CanClose="True" LastActivationTimeStamp="05/21/2025 20:58:43" PreviousContainerId="03f51ea3-4a7d-4433-837a-967e9a0d8c1d" PreviousContainerIndex="0" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Switch" IsSelected="True" ContentId="SwitchVM" FloatingLeft="88" FloatingTop="464" FloatingWidth="1370" FloatingHeight="689" CanClose="True" LastActivationTimeStamp="05/21/2025 20:58:43" PreviousContainerId="588d94de-899f-48c2-bded-d54b306c6a87" PreviousContainerIndex="0" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Sequence" IsSelected="True" ContentId="SequenceVM" FloatingLeft="711" FloatingTop="348" FloatingWidth="1370" FloatingHeight="689" CanClose="True" LastActivationTimeStamp="05/21/2025 20:58:43" PreviousContainerId="086d32e4-6a35-49a4-b819-ba695327d0d0" PreviousContainerIndex="1" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Powerups Panel" IsSelected="True" ContentId="WhenPluginDockable" CanClose="True" LastActivationTimeStamp="05/21/2025 20:58:43" PreviousContainerId="03f51ea3-4a7d-4433-837a-967e9a0d8c1d" PreviousContainerIndex="0" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Optimal Exposure Calculator" IsSelected="True" ContentId="ExposureCalculatorDock" FloatingLeft="959" FloatingTop="852" FloatingWidth="630" FloatingHeight="316" CanClose="True" LastActivationTimeStamp="05/21/2025 20:58:43" PreviousContainerId="086d32e4-6a35-49a4-b819-ba695327d0d0" PreviousContainerIndex="3" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Device Actions and Commands" IsSelected="True" ContentId="DAaCDock" CanClose="True" LastActivationTimeStamp="05/21/2025 20:58:43" PreviousContainerId="03f51ea3-4a7d-4433-837a-967e9a0d8c1d" PreviousContainerIndex="0" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Star Detection Options" IsSelected="True" ContentId="StarDetectionOptionsVM" CanClose="True" LastActivationTimeStamp="05/21/2025 20:58:43" PreviousContainerId="03f51ea3-4a7d-4433-837a-967e9a0d8c1d" PreviousContainerIndex="0" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Guider" ContentId="GuiderVM" FloatingLeft="242" FloatingTop="835" FloatingWidth="688" FloatingHeight="552" CanClose="True" LastActivationTimeStamp="04/29/2025 21:33:35" PreviousContainerId="f7f4ed9b-eec9-4cbf-a096-88f9b1b8d222" PreviousContainerIndex="0" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Statistics" ContentId="ImageStatisticsVM" FloatingLeft="165" FloatingTop="633" FloatingWidth="1370" FloatingHeight="689" CanClose="True" LastActivationTimeStamp="04/28/2025 00:21:35" PreviousContainerId="0d08512b-6989-41d8-9d08-f16bd90d0323" PreviousContainerIndex="0" />
  </Hidden>
</LayoutRoot>