<?xml version="1.0" encoding="utf-8"?>
<LayoutRoot>
  <RootPanel Orientation="Horizontal">
    <LayoutPanel Orientation="Vertical" DockWidth="3.7826401908838347*">
      <LayoutPanel Orientation="Horizontal" DockHeight="1.51559251559252*">
        <LayoutAnchorablePaneGroup Orientation="Vertical" DockWidth="0.47013434562044*">
          <LayoutAnchorablePane Id="1d68f044-3c78-4d8c-930c-eb30630ffd98" DockHeight="0.748973302893854*" FloatingWidth="1370" FloatingHeight="689" FloatingLeft="-596" FloatingTop="535" />
          <LayoutAnchorablePane Id="f784e1df-6421-4b1f-b092-956315b4766c" DockHeight="0.232959508789924*" FloatingWidth="1370" FloatingHeight="689" FloatingLeft="-451" FloatingTop="229" />
          <LayoutAnchorablePane Id="36a76c25-e6a1-41b0-bad8-b8729d9d284f" DockHeight="0.486583748551683*" FloatingWidth="1370" FloatingHeight="689" FloatingLeft="-451" FloatingTop="229" />
          <LayoutAnchorablePaneGroup Orientation="Vertical" DockHeight="1.49189371328354*" FloatingWidth="1370" FloatingHeight="689" FloatingLeft="-158" FloatingTop="555">
            <LayoutAnchorablePane Id="62e81261-8f55-45aa-80b0-79abe5c0f0da" DockHeight="0.862164383349008*" FloatingWidth="1370" FloatingHeight="689" FloatingLeft="-158" FloatingTop="555" />
            <LayoutAnchorablePane Id="343f6812-121d-49cd-a944-e181de6ed1de" DockHeight="1.137835616651*" FloatingWidth="1370" FloatingHeight="689" FloatingLeft="-155" FloatingTop="804" />
          </LayoutAnchorablePaneGroup>
        </LayoutAnchorablePaneGroup>
        <LayoutAnchorablePaneGroup Orientation="Vertical" DockWidth="2.39602516007619*">
          <LayoutAnchorablePaneGroup Orientation="Horizontal" DockWidth="2.20655737704918*" DockHeight="1.54677754677755*">
            <LayoutAnchorablePane Id="03f51ea3-4a7d-4433-837a-967e9a0d8c1d" Name="ToolsPane" DockWidth="2.4541183068977*" DockHeight="1.54677754677755*">
              <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Image" IsSelected="True" ContentId="ImageControlVM" CanClose="True" LastActivationTimeStamp="07/11/2025 23:14:00" />
              <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Star Detection Results" ContentId="StarDetectionResultsVM" CanClose="True" LastActivationTimeStamp="07/11/2025 23:13:49" />
              <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Aberration Inspector" ContentId="InspectorVM" CanClose="True" LastActivationTimeStamp="07/11/2025 22:56:25" />
              <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Statistics" ContentId="ImageStatisticsVM" FloatingLeft="682" FloatingTop="681" FloatingWidth="1370" FloatingHeight="689" CanClose="True" LastActivationTimeStamp="07/11/2025 23:13:02" />
              <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Three Point Polar Alignment" ContentId="DockablePolarAlignmentVM" CanClose="True" LastActivationTimeStamp="07/11/2025 22:21:32" />
              <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Autofocus" ContentId="AutoFocusVM" FloatingLeft="616" FloatingTop="676" FloatingWidth="1370" FloatingHeight="689" CanClose="True" LastActivationTimeStamp="07/11/2025 22:59:32" />
            </LayoutAnchorablePane>
            <LayoutAnchorablePaneGroup Orientation="Vertical" DockWidth="0.752439070151485*" FloatingWidth="1370" FloatingHeight="689" FloatingLeft="209" FloatingTop="418">
              <LayoutAnchorablePane Id="cf3bfcc1-dad0-4b70-94e8-2befba5cf8a2" DockHeight="0.94818338224876*" FloatingWidth="1370" FloatingHeight="689" FloatingLeft="209" FloatingTop="418" />
            </LayoutAnchorablePaneGroup>
          </LayoutAnchorablePaneGroup>
          <LayoutAnchorablePaneGroup Orientation="Horizontal" DockHeight="0.453222453222453*" FloatingWidth="1370" FloatingHeight="689" FloatingLeft="175" FloatingTop="558">
            <LayoutAnchorablePane FloatingWidth="1370" FloatingHeight="689" FloatingLeft="175" FloatingTop="558">
              <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Guider" IsSelected="True" ContentId="GuiderVM" FloatingLeft="175" FloatingTop="558" FloatingWidth="1370" FloatingHeight="689" CanClose="True" LastActivationTimeStamp="12/14/2018 15:57:43" />
            </LayoutAnchorablePane>
          </LayoutAnchorablePaneGroup>
        </LayoutAnchorablePaneGroup>
        <LayoutAnchorablePaneGroup Orientation="Vertical" DockWidth="0.553512625450909*">
          <LayoutAnchorablePane Id="4137b9a9-22b3-4074-b3bf-2cb6bf9a0c20" DockHeight="1.20155297835032*" FloatingWidth="1370" FloatingHeight="689" FloatingLeft="1086" FloatingTop="440" />
          <LayoutAnchorablePaneGroup Orientation="Horizontal" DockHeight="0.798447021649681*" FloatingWidth="1370" FloatingHeight="689" FloatingLeft="1019" FloatingTop="311">
            <LayoutAnchorablePane Id="0b5e66a1-66db-4ec5-9dc5-9144fa9d3e7b" FloatingWidth="1370" FloatingHeight="689" FloatingLeft="1019" FloatingTop="311" />
          </LayoutAnchorablePaneGroup>
        </LayoutAnchorablePaneGroup>
      </LayoutPanel>
    </LayoutPanel>
    <LayoutAnchorablePane Id="9fc5ce13-f21a-4da4-a294-7f5a58ca9e73" DockWidth="0.898223352733146*" DockHeight="1.54677754677755*" FloatingWidth="1370" FloatingHeight="689" FloatingLeft="2163" FloatingTop="750" />
    <LayoutAnchorablePane DockWidth="1.761575024575805*" DockHeight="1.54677754677755*" FloatingWidth="756" FloatingHeight="896" FloatingLeft="756">
      <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Imaging" ContentId="ImagingVM" FloatingLeft="1023" FloatingTop="105" FloatingWidth="1370" FloatingHeight="689" CanClose="True" LastActivationTimeStamp="07/11/2025 22:59:28" PreviousContainerId="03f51ea3-4a7d-4433-837a-967e9a0d8c1d" PreviousContainerIndex="5" />
      <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Inject Autofocus" ContentId="InjectAutofocusDockable" FloatingLeft="950" FloatingTop="101" FloatingWidth="1370" FloatingHeight="689" CanClose="True" LastActivationTimeStamp="07/11/2025 22:59:25" PreviousContainerId="03f51ea3-4a7d-4433-837a-967e9a0d8c1d" PreviousContainerIndex="6" />
      <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Focuser" IsSelected="True" ContentId="FocuserVM" FloatingLeft="1050" FloatingTop="856" FloatingWidth="1370" FloatingHeight="689" CanClose="True" LastActivationTimeStamp="07/16/2025 12:12:54" />
    </LayoutAnchorablePane>
  </RootPanel>
  <TopSide />
  <RightSide />
  <LeftSide />
  <BottomSide />
  <FloatingWindows />
  <Hidden>
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Safety Monitor" IsSelected="True" ContentId="SafetyMonitorVM" CanClose="True" LastActivationTimeStamp="07/16/2025 12:12:43" PreviousContainerId="03f51ea3-4a7d-4433-837a-967e9a0d8c1d" PreviousContainerIndex="1" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Flat Panel" IsSelected="True" ContentId="FlatDeviceVM" FloatingLeft="-451" FloatingTop="229" FloatingWidth="1370" FloatingHeight="689" CanClose="True" LastActivationTimeStamp="07/16/2025 12:12:43" PreviousContainerId="36a76c25-e6a1-41b0-bad8-b8729d9d284f" PreviousContainerIndex="1" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Rotator" IsSelected="True" ContentId="RotatorVM" FloatingLeft="-156" FloatingTop="530" FloatingWidth="1370" FloatingHeight="689" CanClose="True" LastActivationTimeStamp="07/16/2025 12:12:43" PreviousContainerId="1d68f044-3c78-4d8c-930c-eb30630ffd98" PreviousContainerIndex="2" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Dome" IsSelected="True" ContentId="DomeVM" FloatingLeft="-154" FloatingTop="555" FloatingWidth="1370" FloatingHeight="689" CanClose="True" LastActivationTimeStamp="07/16/2025 12:12:43" PreviousContainerId="62e81261-8f55-45aa-80b0-79abe5c0f0da" PreviousContainerIndex="1" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Switch" IsSelected="True" ContentId="SwitchVM" FloatingLeft="419" FloatingTop="1030" FloatingWidth="772" FloatingHeight="652" CanClose="True" LastActivationTimeStamp="07/16/2025 12:12:43" PreviousContainerId="343f6812-121d-49cd-a944-e181de6ed1de" PreviousContainerIndex="1" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Plate Solving" IsSelected="True" ContentId="PlatesolveVM" FloatingLeft="2163" FloatingTop="750" FloatingWidth="1370" FloatingHeight="689" CanClose="True" LastActivationTimeStamp="07/16/2025 12:12:43" PreviousContainerId="9fc5ce13-f21a-4da4-a294-7f5a58ca9e73" PreviousContainerIndex="4" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Manual Focus Targets" IsSelected="True" ContentId="FocusTargetsVM" FloatingLeft="1974" FloatingTop="755" FloatingWidth="772" FloatingHeight="652" CanClose="True" LastActivationTimeStamp="07/16/2025 12:12:43" PreviousContainerId="9fc5ce13-f21a-4da4-a294-7f5a58ca9e73" PreviousContainerIndex="0" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Camera" IsSelected="True" ContentId="CameraVM" FloatingLeft="-596" FloatingTop="535" FloatingWidth="1370" FloatingHeight="689" CanClose="True" LastActivationTimeStamp="07/16/2025 12:12:43" PreviousContainerId="1d68f044-3c78-4d8c-930c-eb30630ffd98" PreviousContainerIndex="0" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Filter Wheel" IsSelected="True" ContentId="FilterWheelVM" FloatingLeft="-451" FloatingTop="229" FloatingWidth="1370" FloatingHeight="689" CanClose="True" LastActivationTimeStamp="07/16/2025 12:12:43" PreviousContainerId="f784e1df-6421-4b1f-b092-956315b4766c" PreviousContainerIndex="0" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Mount" IsSelected="True" ContentId="TelescopeVM" FloatingLeft="-158" FloatingTop="555" FloatingWidth="1370" FloatingHeight="689" CanClose="True" LastActivationTimeStamp="07/16/2025 12:12:43" PreviousContainerId="62e81261-8f55-45aa-80b0-79abe5c0f0da" PreviousContainerIndex="0" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Weather" IsSelected="True" ContentId="WeatherDataVM" FloatingLeft="-155" FloatingTop="804" FloatingWidth="1370" FloatingHeight="689" CanClose="True" LastActivationTimeStamp="07/16/2025 12:12:43" PreviousContainerId="343f6812-121d-49cd-a944-e181de6ed1de" PreviousContainerIndex="0" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Sequence" IsSelected="True" ContentId="SequenceVM" FloatingLeft="1086" FloatingTop="440" FloatingWidth="1370" FloatingHeight="689" CanClose="True" LastActivationTimeStamp="07/16/2025 12:12:43" PreviousContainerId="4137b9a9-22b3-4074-b3bf-2cb6bf9a0c20" PreviousContainerIndex="0" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Image History" IsSelected="True" ContentId="ThumbnailVM" FloatingLeft="1019" FloatingTop="311" FloatingWidth="1370" FloatingHeight="689" CanClose="True" LastActivationTimeStamp="07/16/2025 12:12:43" PreviousContainerId="0b5e66a1-66db-4ec5-9dc5-9144fa9d3e7b" PreviousContainerIndex="0" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Powerups Panel" IsSelected="True" ContentId="WhenPluginDockable" CanClose="True" LastActivationTimeStamp="07/16/2025 12:12:43" PreviousContainerId="03f51ea3-4a7d-4433-837a-967e9a0d8c1d" PreviousContainerIndex="15" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Star Detection Options" IsSelected="True" ContentId="StarDetectionOptionsVM" CanClose="True" LastActivationTimeStamp="07/16/2025 12:12:43" PreviousContainerId="03f51ea3-4a7d-4433-837a-967e9a0d8c1d" PreviousContainerIndex="4" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Star Annotation Options" IsSelected="True" ContentId="StarAnnotatorOptionsVM" CanClose="True" LastActivationTimeStamp="07/16/2025 12:12:43" PreviousContainerId="03f51ea3-4a7d-4433-837a-967e9a0d8c1d" PreviousContainerIndex="3" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Filter Offset Calculator" IsSelected="True" ContentId="FilterOffsetCalculatorImagingTool" CanClose="True" LastActivationTimeStamp="07/16/2025 12:12:43" PreviousContainerId="03f51ea3-4a7d-4433-837a-967e9a0d8c1d" PreviousContainerIndex="2" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Optimal Exposure Calculator" IsSelected="True" ContentId="ExposureCalculatorDock" CanClose="True" LastActivationTimeStamp="07/16/2025 12:12:43" PreviousContainerId="03f51ea3-4a7d-4433-837a-967e9a0d8c1d" PreviousContainerIndex="1" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Device Actions and Commands" IsSelected="True" ContentId="DAaCDock" CanClose="True" LastActivationTimeStamp="07/16/2025 12:12:43" PreviousContainerId="03f51ea3-4a7d-4433-837a-967e9a0d8c1d" PreviousContainerIndex="0" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="HFR history" IsSelected="True" ContentId="ImageHistoryVM" FloatingLeft="209" FloatingTop="418" FloatingWidth="1370" FloatingHeight="689" CanClose="True" LastActivationTimeStamp="07/16/2025 12:12:43" PreviousContainerId="cf3bfcc1-dad0-4b70-94e8-2befba5cf8a2" PreviousContainerIndex="0" />
  </Hidden>
</LayoutRoot>