<?xml version="1.0" encoding="utf-8"?>
<LayoutRoot>
  <RootPanel Orientation="Horizontal">
    <LayoutPanel Orientation="Vertical" DockWidth="3.4706070705327607*">
      <LayoutPanel Orientation="Horizontal" DockHeight="1.51559251559252*">
        <LayoutAnchorablePaneGroup Orientation="Vertical" DockWidth="0.47013434562044*">
          <LayoutAnchorablePane Id="1d68f044-3c78-4d8c-930c-eb30630ffd98" DockHeight="0.748973302893854*" FloatingWidth="1370" FloatingHeight="689" FloatingLeft="-596" FloatingTop="535" />
          <LayoutAnchorablePane Id="36a76c25-e6a1-41b0-bad8-b8729d9d284f" DockHeight="0.486583748551683*" FloatingWidth="1370" FloatingHeight="689" FloatingLeft="-451" FloatingTop="229" />
          <LayoutAnchorablePaneGroup Orientation="Vertical" DockHeight="1.49189371328354*" FloatingWidth="1370" FloatingHeight="689" FloatingLeft="-158" FloatingTop="555">
            <LayoutAnchorablePane Id="62e81261-8f55-45aa-80b0-79abe5c0f0da" DockHeight="0.862164383349008*" FloatingWidth="1370" FloatingHeight="689" FloatingLeft="-158" FloatingTop="555" />
            <LayoutAnchorablePane Id="343f6812-121d-49cd-a944-e181de6ed1de" DockHeight="1.137835616651*" FloatingWidth="1370" FloatingHeight="689" FloatingLeft="-155" FloatingTop="804" />
          </LayoutAnchorablePaneGroup>
        </LayoutAnchorablePaneGroup>
        <LayoutAnchorablePaneGroup Orientation="Vertical" DockWidth="2.39602516007619*">
          <LayoutAnchorablePaneGroup Orientation="Horizontal" DockWidth="2.20655737704918*" DockHeight="1.54677754677755*">
            <LayoutAnchorablePane Id="03f51ea3-4a7d-4433-837a-967e9a0d8c1d" Name="ToolsPane" DockWidth="2.4541183068977*" DockHeight="1.54677754677755*">
              <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Image" IsSelected="True" ContentId="ImageControlVM" CanClose="True" LastActivationTimeStamp="10/25/2025 02:30:31" />
              <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Autofocus" ContentId="AutoFocusVM" FloatingLeft="616" FloatingTop="676" FloatingWidth="1370" FloatingHeight="689" CanClose="True" LastActivationTimeStamp="10/24/2025 19:45:33" />
              <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Statistics" ContentId="ImageStatisticsVM" FloatingLeft="682" FloatingTop="681" FloatingWidth="1370" FloatingHeight="689" CanClose="True" LastActivationTimeStamp="10/19/2025 19:35:04" />
              <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="PHD2 Info" ContentId="Phd2InfoPanel" CanClose="True" LastActivationTimeStamp="10/08/2025 21:10:18" />
              <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Altitude Chart" ContentId="AltitudeDock" CanClose="True" LastActivationTimeStamp="10/10/2025 20:07:04" />
              <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Azimuth Chart" ContentId="AzimuthDock" CanClose="True" LastActivationTimeStamp="10/10/2025 20:07:01" />
              <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="RTSP Player" ContentId="RTSPVM" FloatingLeft="505" FloatingTop="677" FloatingWidth="955" FloatingHeight="625" CanClose="True" LastActivationTimeStamp="10/24/2025 21:28:06" PreviousContainerId="03f51ea3-4a7d-4433-837a-967e9a0d8c1d" PreviousContainerIndex="3" />
            </LayoutAnchorablePane>
            <LayoutAnchorablePaneGroup Orientation="Vertical" DockWidth="0.752439070151485*" FloatingWidth="1370" FloatingHeight="689" FloatingLeft="209" FloatingTop="418">
              <LayoutAnchorablePane Id="cf3bfcc1-dad0-4b70-94e8-2befba5cf8a2" DockHeight="0.94818338224876*" FloatingWidth="1370" FloatingHeight="689" FloatingLeft="209" FloatingTop="418" />
            </LayoutAnchorablePaneGroup>
          </LayoutAnchorablePaneGroup>
          <LayoutAnchorablePaneGroup Orientation="Horizontal" DockHeight="0.453222453222453*" FloatingWidth="1370" FloatingHeight="689" FloatingLeft="175" FloatingTop="558">
            <LayoutAnchorablePane FloatingWidth="1370" FloatingHeight="689" FloatingLeft="175" FloatingTop="558">
              <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Guider" IsSelected="True" ContentId="GuiderVM" FloatingLeft="175" FloatingTop="558" FloatingWidth="1370" FloatingHeight="689" CanClose="True" LastActivationTimeStamp="10/24/2025 21:01:08" />
            </LayoutAnchorablePane>
          </LayoutAnchorablePaneGroup>
        </LayoutAnchorablePaneGroup>
        <LayoutAnchorablePaneGroup Orientation="Horizontal" DockWidth="0.553512625450909*">
          <LayoutAnchorablePane Id="0b5e66a1-66db-4ec5-9dc5-9144fa9d3e7b" FloatingWidth="1370" FloatingHeight="689" FloatingLeft="1019" FloatingTop="311" />
        </LayoutAnchorablePaneGroup>
      </LayoutPanel>
    </LayoutPanel>
    <LayoutAnchorablePane Id="9fc5ce13-f21a-4da4-a294-7f5a58ca9e73" DockWidth="0.898223352733146*" DockHeight="1.54677754677755*" FloatingWidth="1370" FloatingHeight="689" FloatingLeft="2163" FloatingTop="750" />
    <LayoutAnchorablePaneGroup Orientation="Vertical" DockWidth="2.0736081449268786*" DockHeight="1.54677754677755*">
      <LayoutAnchorablePane DockWidth="2.4541183068977*" DockHeight="1.3598538643028635*" FloatingWidth="1370" FloatingHeight="689" FloatingLeft="1178" FloatingTop="436">
        <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Imaging" ContentId="ImagingVM" FloatingLeft="1178" FloatingTop="436" FloatingWidth="1370" FloatingHeight="689" CanClose="True" LastActivationTimeStamp="10/24/2025 21:07:44" />
        <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Focuser" ContentId="FocuserVM" FloatingLeft="1178" FloatingTop="436" FloatingWidth="1370" FloatingHeight="689" CanClose="True" LastActivationTimeStamp="10/23/2025 19:53:39" />
        <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Filter Wheel" ContentId="FilterWheelVM" FloatingLeft="1178" FloatingTop="436" FloatingWidth="1370" FloatingHeight="689" CanClose="True" LastActivationTimeStamp="10/19/2025 20:43:19" />
        <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Inject Autofocus" IsSelected="True" ContentId="InjectAutofocusDockable" FloatingLeft="1178" FloatingTop="436" FloatingWidth="1370" FloatingHeight="689" CanClose="True" LastActivationTimeStamp="10/25/2025 02:30:38" />
      </LayoutAnchorablePane>
      <LayoutAnchorablePane DockWidth="2.4541183068977*" DockHeight="1.54677754677755*" FloatingWidth="1052" FloatingHeight="632" FloatingLeft="1313" FloatingTop="497">
        <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Star Detection Results" IsSelected="True" ContentId="StarDetectionResultsVM" FloatingLeft="1313" FloatingTop="497" FloatingWidth="1052" FloatingHeight="632" CanClose="True" LastActivationTimeStamp="10/24/2025 21:06:58" PreviousContainerId="03f51ea3-4a7d-4433-837a-967e9a0d8c1d" PreviousContainerIndex="6" />
      </LayoutAnchorablePane>
    </LayoutAnchorablePaneGroup>
  </RootPanel>
  <TopSide />
  <RightSide />
  <LeftSide />
  <BottomSide />
  <FloatingWindows />
  <Hidden>
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Safety Monitor" IsSelected="True" ContentId="SafetyMonitorVM" CanClose="True" LastActivationTimeStamp="10/24/2025 19:22:28" PreviousContainerId="03f51ea3-4a7d-4433-837a-967e9a0d8c1d" PreviousContainerIndex="1" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Flat Panel" IsSelected="True" ContentId="FlatDeviceVM" FloatingLeft="-451" FloatingTop="229" FloatingWidth="1370" FloatingHeight="689" CanClose="True" LastActivationTimeStamp="10/24/2025 19:22:28" PreviousContainerId="36a76c25-e6a1-41b0-bad8-b8729d9d284f" PreviousContainerIndex="1" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Rotator" IsSelected="True" ContentId="RotatorVM" FloatingLeft="-156" FloatingTop="530" FloatingWidth="1370" FloatingHeight="689" CanClose="True" LastActivationTimeStamp="10/24/2025 19:22:28" PreviousContainerId="1d68f044-3c78-4d8c-930c-eb30630ffd98" PreviousContainerIndex="2" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Dome" IsSelected="True" ContentId="DomeVM" FloatingLeft="-154" FloatingTop="555" FloatingWidth="1370" FloatingHeight="689" CanClose="True" LastActivationTimeStamp="10/24/2025 19:22:28" PreviousContainerId="62e81261-8f55-45aa-80b0-79abe5c0f0da" PreviousContainerIndex="1" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Switch" IsSelected="True" ContentId="SwitchVM" FloatingLeft="419" FloatingTop="1030" FloatingWidth="772" FloatingHeight="652" CanClose="True" LastActivationTimeStamp="10/24/2025 19:22:28" PreviousContainerId="343f6812-121d-49cd-a944-e181de6ed1de" PreviousContainerIndex="1" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Camera" IsSelected="True" ContentId="CameraVM" FloatingLeft="-596" FloatingTop="535" FloatingWidth="1370" FloatingHeight="689" CanClose="True" LastActivationTimeStamp="10/24/2025 19:22:28" PreviousContainerId="1d68f044-3c78-4d8c-930c-eb30630ffd98" PreviousContainerIndex="0" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Mount" IsSelected="True" ContentId="TelescopeVM" FloatingLeft="-158" FloatingTop="555" FloatingWidth="1370" FloatingHeight="689" CanClose="True" LastActivationTimeStamp="10/24/2025 19:22:28" PreviousContainerId="62e81261-8f55-45aa-80b0-79abe5c0f0da" PreviousContainerIndex="0" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Weather" IsSelected="True" ContentId="WeatherDataVM" FloatingLeft="-155" FloatingTop="804" FloatingWidth="1370" FloatingHeight="689" CanClose="True" LastActivationTimeStamp="10/24/2025 19:22:28" PreviousContainerId="343f6812-121d-49cd-a944-e181de6ed1de" PreviousContainerIndex="0" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Device Actions and Commands" IsSelected="True" ContentId="DAaCDock" CanClose="True" LastActivationTimeStamp="10/24/2025 19:22:28" PreviousContainerId="03f51ea3-4a7d-4433-837a-967e9a0d8c1d" PreviousContainerIndex="0" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Filter Offset Calculator" IsSelected="True" ContentId="FilterOffsetCalculatorImagingTool" CanClose="True" LastActivationTimeStamp="10/24/2025 19:22:28" PreviousContainerId="03f51ea3-4a7d-4433-837a-967e9a0d8c1d" PreviousContainerIndex="7" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Optimal Exposure Calculator" IsSelected="True" ContentId="ExposureCalculatorDock" CanClose="True" LastActivationTimeStamp="10/24/2025 19:22:28" PreviousContainerId="03f51ea3-4a7d-4433-837a-967e9a0d8c1d" PreviousContainerIndex="5" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Three Point Polar Alignment" IsSelected="True" ContentId="DockablePolarAlignmentVM" CanClose="True" LastActivationTimeStamp="10/24/2025 19:22:28" PreviousContainerId="03f51ea3-4a7d-4433-837a-967e9a0d8c1d" PreviousContainerIndex="3" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Star Annotation Options" IsSelected="True" ContentId="StarAnnotatorOptionsVM" CanClose="True" LastActivationTimeStamp="10/24/2025 19:22:28" PreviousContainerId="03f51ea3-4a7d-4433-837a-967e9a0d8c1d" PreviousContainerIndex="6" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Image History" IsSelected="True" ContentId="ThumbnailVM" FloatingLeft="1019" FloatingTop="311" FloatingWidth="1370" FloatingHeight="689" CanClose="True" LastActivationTimeStamp="10/24/2025 19:22:28" PreviousContainerId="0b5e66a1-66db-4ec5-9dc5-9144fa9d3e7b" PreviousContainerIndex="0" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Manual Focus Targets" IsSelected="True" ContentId="FocusTargetsVM" FloatingLeft="1974" FloatingTop="755" FloatingWidth="772" FloatingHeight="652" CanClose="True" LastActivationTimeStamp="10/24/2025 19:22:28" PreviousContainerId="9fc5ce13-f21a-4da4-a294-7f5a58ca9e73" PreviousContainerIndex="0" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Powerups Panel" IsSelected="True" ContentId="WhenPluginDockable" CanClose="True" LastActivationTimeStamp="10/24/2025 19:22:28" PreviousContainerId="03f51ea3-4a7d-4433-837a-967e9a0d8c1d" PreviousContainerIndex="7" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="HFR history" IsSelected="True" ContentId="ImageHistoryVM" FloatingLeft="209" FloatingTop="418" FloatingWidth="1370" FloatingHeight="689" CanClose="True" LastActivationTimeStamp="10/24/2025 19:22:28" PreviousContainerId="cf3bfcc1-dad0-4b70-94e8-2befba5cf8a2" PreviousContainerIndex="0" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Scope Control" IsSelected="True" ContentId="ScopeControlDock" CanClose="True" LastActivationTimeStamp="10/24/2025 19:22:28" PreviousContainerId="03f51ea3-4a7d-4433-837a-967e9a0d8c1d" PreviousContainerIndex="12" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Horizon Creator" IsSelected="True" ContentId="HorizonCreatorDock" CanClose="True" LastActivationTimeStamp="10/24/2025 19:22:28" PreviousContainerId="03f51ea3-4a7d-4433-837a-967e9a0d8c1d" PreviousContainerIndex="9" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Plate Solving" IsSelected="True" ContentId="PlatesolveVM" FloatingLeft="844" FloatingTop="664" FloatingWidth="1370" FloatingHeight="689" CanClose="True" LastActivationTimeStamp="10/24/2025 19:22:28" PreviousContainerId="03f51ea3-4a7d-4433-837a-967e9a0d8c1d" PreviousContainerIndex="5" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Star Detection Options" IsSelected="True" ContentId="StarDetectionOptionsVM" CanClose="True" LastActivationTimeStamp="10/24/2025 19:22:28" PreviousContainerId="03f51ea3-4a7d-4433-837a-967e9a0d8c1d" PreviousContainerIndex="4" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Aberration Inspector" IsSelected="True" ContentId="InspectorVM" CanClose="True" LastActivationTimeStamp="10/24/2025 19:22:28" PreviousContainerId="03f51ea3-4a7d-4433-837a-967e9a0d8c1d" PreviousContainerIndex="3" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Sequence" IsSelected="True" ContentId="SequenceVM" FloatingLeft="548" FloatingTop="667" FloatingWidth="1370" FloatingHeight="689" CanClose="True" LastActivationTimeStamp="10/24/2025 19:22:28" PreviousContainerId="03f51ea3-4a7d-4433-837a-967e9a0d8c1d" PreviousContainerIndex="2" />
  </Hidden>
</LayoutRoot>